.container {
    display: flex;
    align-items: center;
    padding: .75rem;
    border-radius: 12px;
    background-color: var(--dark-foreground-color);
    margin: .75rem 0;
    transition: all 150ms ease-out;
    cursor: pointer;
}

.container:hover {
    transform: translateX(4px);
}

a {
    text-decoration: none;
    transition: all 150ms ease-out;
}

a:hover {
    opacity: .8;
}

.image {
    margin-right: .75rem;
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
}

.artist {
    margin: 0;
    font-weight: 400;
    color: #aaa;
}
.info {
    flex: 2;
}