.wrapper {
    display: flex;
    align-items: center;
    padding: .75rem;
    border-radius: 8px;
    background-color: var(--dark-foreground-color);
    margin: .75rem 0;
    transition: all 150ms ease-out;
    cursor: pointer;
}

.wrapper:hover {
    transform: translateX(4px);
}

a {
    text-decoration: none;
    transition: all 150ms ease-out;
}

a:hover {
    opacity: .8;
}

.image {
    border-radius: 4px;
    margin-right: .75rem;
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
}

.artist {
    margin: 0;
    font-weight: 400;
    color: #aaa;
}

.action {
    flex: 1;
    text-align: right;
}

.action button {
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    background-color: green;
    opacity: .8;
    font-weight: 400;
    cursor: pointer;
    transition: all 150ms ease-out;
}

.action button:hover {
    opacity: 1;
}

.action button a {
    color: white;
}