.wrapper {
    margin-bottom: 1rem;
}

.wrapper form {
    margin-top: .5em;
    color: var(--dark-text-color);
}

.wrapper label, .wrapper input, .wrapper textarea {
    display: block;
    margin-bottom: .5rem;
}

.wrapper input, .wrapper textarea  {
    outline: none;
    border: none;
    border-radius: 16px;
    padding: .75rem 1.25rem;
    font-size: 1em;
    color: var(--dark-text-color);
}

.wrapper textarea {
    font-family: inherit;
    resize: vertical;
    min-height: 10em;
}

.wrapper input:not([type=submit]), .wrapper textarea  {
    width: 100%;
    background-color: var(--dark-foreground-color);
}

.wrapper input[type=submit] {
    background-color: green;
    cursor: pointer;
    opacity: .8;
    transition: all 150ms ease-out;
}

.wrapper input[type=submit]:hover {
    opacity: 1;
}