.wrapper {
    text-align: center;
}

.wrapper input, .wrapper button {
    padding: .75rem 1.25rem;
    outline: none;
    border: none;
    color: white;
    font-size: 1em;
    font-weight: 400;
}

.wrapper input[type=text] {
    border-radius: 16px 0 0 16px;
    background-color: var(--dark-foreground-color);
}

.wrapper input[type=submit] {
    border-radius: 0 16px 16px 0;
    background-color: green;
    cursor: pointer;
    opacity: .8;
    transition: all 150ms ease-out;
}

.wrapper input[type=submit]:hover {
    opacity: 1;
}